<template name="home">
	<div class="intro">
		<div class="text">
		</div>
		<div class="intro--image">
			
		</div>
	</div>
	<!--
	<div class="container">
		<div class="content">
			<div class="row">
				{{# each posts }}
					{{> homePost }}
				{{/ each }}
			</div>
		</div>
	</div>
	-->
</template>

<template name="homePost">
	<hr>
	<div class="home-post">
		<h3>
			{{ title }}
		</h3>
		<div class="row">
			<div class="col-sm-6">
				<img class="image" src="{{ image.url }}">
			</div>
			<div class="col-sm-3">
				<p class="body">{{{ body }}}</p>
			</div>
		</div>
	</div>
</template>